# Arthematic Operators

+ add
- subtract
/ divide
* multiply
// floor division
% modulus
** power

In [1]:
2+2

4

In [2]:
{"a", "b"}+{"c"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [3]:
["a", "b"]+["c"]

['a', 'b', 'c']

In [5]:
(0)+(2)

2

# Comparision (Rational) Operators

In [6]:
== equal
> greater than
< less then
>= greater then or equal to
<= less than or equal to
!= not equal
<> not equal

SyntaxError: invalid syntax (<ipython-input-6-25df3247ab2b>, line 1)

In [7]:
a=2
b=2
a==b

True

In [8]:
a=6
b=10
a>b

False

In [9]:
a=3
b=7
a<b

True

In [10]:
a=4
b=4.1
a<=b

True

In [11]:
a=2
b=1.999
a>=b

True

In [13]:
7!= 4

True

In [17]:
"A"<"B"

True

In [19]:
chr(70) #65 for A and it goes till 90 Z
#97=a -> 122=z
#48=0 -> 57=9

'F'

In [20]:
ord("A") # put character and then gives

65

In [21]:
chr(67)>chr(66)

True

In [24]:
ord("G")>ord("B")

True

# Assignment Operators

= "assign"

In [25]:
a=5
a=3
a=0
a=9
print(a)

9

In [27]:
a = 1
a += 3#1+3
a += 6#1+3+6
print(a)

10

In [28]:
a = 1
a -= 3#1-3
a -= 6#1-3-6
print(a)

-8

In [29]:
a=1
a*=2
a*=9
print(a)

18

In [30]:
a=100
a/=3
a/=9
print(a)

3.703703703703704

In [31]:
a=100
a//=5
a//=4
print(a)

5

In [32]:
a=5
a**=5
a**=4
print(a)

95367431640625

In [33]:
a=21
a%=5
a%=7
print(a)

1

In [34]:
a="A"
a*=4
a*=5
print(a)

AAAAAAAAAAAAAAAAAAAA

# Logical operators

In [ ]:
and = & # must
or = | #optional
not !=, <>

In [35]:
user = "Aresha"
password = "password"
print(user=="Aresha")
print(password=="Aresha")

True
False

In [36]:
True & True & True

True

In [38]:
True & False & True

False

In [39]:
True | True | False

True

In [43]:
a="gh"
b="sd"
c="gf"
print((a=="gh") & (b=="sd") & (c=="gf"))
print((a=="sd") | (b=="sd") | (c=="gf"))

True
True

In [47]:
user = input("User Name")
password = input("Password")
(user == "Aresha") or (user == "Admin") or (user == "ABC") and password == "123"

User Namearesha
Password1234

False

In [48]:
not(False)

True

# Bitwise Operators

8,  7,  6,  5,  4,  3, 2, 1, 0
2,  2,  2,  2,  2,  2, 2, 2, 2
==============================
256,128,64, 32, 16, 8, 4, 2, 1 
Example:
    10011
    Right
    1      1
    1      2
    1      8
           11

In [51]:
28&29 # bit wise operation
#first it converts 28 and 29 into bits then it performe operation on it then it gives the answer

28

In [52]:
29|28
#first it converts 28 and 29 into bits then it performed or operation on it then it gives the answer

29

In [53]:
28^29
# XOR function

1

11001     = 25
1100100   = 100
00110     = 6

In [54]:
25<<2# shift 25 to 2 places left

100

# Membership Operators

In [56]:
names = ['aresha','arshad','awan']
for name in names:
    if name =='arshad':
        print(name)

arshad

In [57]:
"aresha" not in names

False

In [58]:
words = ['ars','pakistan','turkey','us','uk','mk','ronald','messi']
for word in words:
    if word == 'pakistan' and 'turkey':
        print(True)

True

# Identity Operators

In [59]:
a = '5'
b = 5
c = a
print(a==b)
print(a==c)

False
True

# Control Flow
if, else elif

if logic:
    code run if logic True
else:
    code run if logic False

In [61]:
if True:
    print("pakistan")
    print("pakistan")
    print("pakistan")
    print("pakistan")
else:
    print("zinda baad")

pakistan
pakistan
pakistan
pakistan

True_block if logic else False_block

In [62]:
"Pakistan" if True else "Zindabaad"

'Pakistan'

In [1]:
user = input("User name")
password = input("Password")

if True:
    print(user)
    print(password)
else:
    print("Invalid")

User namearesha
Passwordasdf
aresha
asdf